apps/.metadata
apps/.recommenders
apps/Servers
apps/RemoteSystemsTempFiles
apps/.sonarlint

apps/*/.settings/
apps/*/.classpath
apps/*/.project
apps/*/*.jar
apps/.project
apps/.classpath
apps/*/target/
apps/*/bin/
apps/*/.settings/

apps/pizzeria-console-objet/*/.settings/
apps/pizzeria-console-objet/*/.classpath
apps/pizzeria-console-objet/*/.project
apps/pizzeria-console-objet/*/target/
