<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
 	 <display-name>pizzeria-admin-web</display-name>
 	 <filter>
 	 	<filter-name>LoginFilter</filter-name>
 	 	<filter-class>fr.pizzeria.admin.web.filtre.LoginFilter</filter-class>
 	 </filter>
 	 <filter-mapping>
 	 	<filter-name>LoginFilter</filter-name>
 	 	<url-pattern>/*</url-pattern>
 	 </filter-mapping>
 	
 	
 	
 	
 	 <servlet>
  		<servlet-name>NouvellePizza</servlet-name>
  		<servlet-class>fr.pizzeria.admin.web.controller.NouvellePizzaController</servlet-class>
	 </servlet>
	 <servlet>
  		<servlet-name>ListerPizzas</servlet-name>
  		<servlet-class>fr.pizzeria.admin.web.controller.ListerPizzaController</servlet-class>
  	 </servlet>
	 <servlet>
	 	<servlet-name>EditerPizza</servlet-name>
	 	<servlet-class>fr.pizzeria.admin.web.controller.EditerPizzaController</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>SupprimerPizza</servlet-name>

	 	<servlet-class>fr.pizzeria.admin.web.controller.SupprimerPizzaController</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>Login</servlet-name>
	 	<servlet-class>fr.pizzeria.admin.web.controller.LoginController</servlet-class>
	 </servlet>
  
  
  
  	 <servlet-mapping>
  		<servlet-name>NouvellePizza</servlet-name>
  		<url-pattern>/pizzas/new</url-pattern>
  	 </servlet-mapping>
  	 
  	 <servlet-mapping>
  		<servlet-name>ListerPizzas</servlet-name>
  		<url-pattern>/pizzas/list</url-pattern>
  	 </servlet-mapping>
  	 
  	 <servlet-mapping>
  	 	<servlet-name>EditerPizza</servlet-name>
  	 	<url-pattern>/pizzas/edit</url-pattern>
  	 </servlet-mapping>
  	 <servlet-mapping>
  	 	<servlet-name>SupprimerPizza</servlet-name>
  	 	<url-pattern>/pizzas/delete</url-pattern>
  	 </servlet-mapping>
  	 <servlet-mapping>
  	 	<servlet-name>Login</servlet-name>
  	 	<url-pattern>/login</url-pattern>
  	 </servlet-mapping>
</web-app>
